<div class="container">

  <div class="jumbotron">
     <h3>Come on and sign up here!</h3>
     <p></p>
     <p>
       <%= link_to "Sign In", new_session_path %> or
       <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
     </p>
   </div>
</div>
